* {
    color: #555555;
    font-family: "M PLUS 1";
    font-weight: 500;
}

.Bar>*>box {
    background-color: #f9f2f2aa;
    /* margin: 0px 8px; */
    /* border-radius: 0px 0px 12px 12px; */
    /* border-bottom: 1px solid black; */
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
    border-radius: 12px 12px;
    margin: 8px 8px 0px;
    border: 1px solid black;
    min-height: 32px;
    padding: 2px 16px;


    &>.Battery,
    &>.Clock,
    &>.Network,
    &>.Notification,
    &>.Volume,
    &>.Brightness,
    &>.River {}

    >centerbox {
        border-radius: 10px;
        margin: 8px;
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
}

.Focused>label {
    color: green;
    font-weight: 800;
}