* {
  font-family: "Noto Sans Mono CJK JP";
}

.bar {
  background-color: black;
}

.workspace {
  padding: 0 12px;
}

.workspace>label {
  font-size: 0;
  background-color: white;
  min-width: 12px;
  min-height: 12px;
  border-radius: 9999px;
}

.workspace>label.occupied {
  background-color: lightpink;
}

.workspace>label.active {
  background-color: maroon;
}
