$col1: #5cb3c1;
$col2: #01587a;
$bg: #e1e8ec;

* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: "M PLUS 1p";
    //debug
    //border: solid 1px white;
}

.base {
    color: #FFFDD9;
    font-size: 16px;

    .base-icon {
        padding: 4px 12px 4px 4px;
        font-family: "UDEV Gothic 35NF";
    }
}

.bar {
    margin: 8px 0 0 8px;
}

.power-popup {
    background-color: #2E496D;
    padding: 8px;
    border-radius: 20px;
}

.my-button {
    border-radius: 20px;
    background-color: #6498A6;
    font-size: 24px;
    font-family: "UDEV Gothic 35NF";

    :hover {
        background-color: #2E496D;
    }
}